---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: yanets.yanet.yanet-platform.io
spec:
  group: yanet.yanet-platform.io
  names:
    kind: Yanet
    listKind: YanetList
    plural: yanets
    singular: yanet
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Yanet is the Schema for the yanets API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: YanetSpec defines the desired state of Yanet
            properties:
              allowreboot:
                default: false
                description: '(Optional) Allow reboot on prepare stage. Default: false'
                type: boolean
              announcer:
                description: (Optional) base configs for announcer deployment.
                properties:
                  enable:
                    default: true
                    description: '(Optional) replicas for this deployment. One with
                      true options and zero with false. You can make deployment with
                      zero replicas with this option. Default: true'
                    type: boolean
                  image:
                    description: image name.
                    type: string
                  tag:
                    default: latest
                    description: '(Optional) image tag. Default: latest.'
                    type: string
                type: object
              arch:
                default: corei7
                description: '(Optional) Arch of dataplane(broadwell, corei7 or knl).
                  Default: corei7'
                type: string
              autosync:
                default: false
                description: '(Optional) Operator enable autosync for this node. Default:
                  false'
                type: boolean
              bird:
                description: (Optional) base configs for bird deployment.
                properties:
                  enable:
                    default: true
                    description: '(Optional) replicas for this deployment. One with
                      true options and zero with false. You can make deployment with
                      zero replicas with this option. Default: true'
                    type: boolean
                  image:
                    description: image name.
                    type: string
                  tag:
                    default: latest
                    description: '(Optional) image tag. Default: latest.'
                    type: string
                type: object
              controlplane:
                description: (Optional) base configs for contorlplane deployment.
                properties:
                  enable:
                    default: true
                    description: '(Optional) replicas for this deployment. One with
                      true options and zero with false. You can make deployment with
                      zero replicas with this option. Default: true'
                    type: boolean
                  image:
                    description: image name.
                    type: string
                  tag:
                    default: latest
                    description: '(Optional) image tag. Default: latest.'
                    type: string
                type: object
              dataplane:
                description: (Optional) base configs for dataplane deployment.
                properties:
                  enable:
                    default: true
                    description: '(Optional) replicas for this deployment. One with
                      true options and zero with false. You can make deployment with
                      zero replicas with this option. Default: true'
                    type: boolean
                  image:
                    description: image name.
                    type: string
                  tag:
                    default: latest
                    description: '(Optional) image tag. Default: latest.'
                    type: string
                type: object
              depopts:
                description: (Optional) Additional options to be applied to yanet.
                properties:
                  announcer:
                    properties:
                      initcontainers:
                        items:
                          type: string
                        type: array
                    type: object
                  bird:
                    properties:
                      initcontainers:
                        items:
                          type: string
                        type: array
                    type: object
                  controlplane:
                    properties:
                      initcontainers:
                        items:
                          type: string
                        type: array
                    type: object
                  dataplane:
                    properties:
                      initcontainers:
                        items:
                          type: string
                        type: array
                    type: object
                type: object
              nodename:
                description: Worker node name for deploy. Only one Yanet on node!
                  Do not use regex!
                type: string
              preparejob:
                description: (Optional) oneshot host prepare job.
                properties:
                  enable:
                    default: true
                    description: '(Optional) replicas for this deployment. One with
                      true options and zero with false. You can make deployment with
                      zero replicas with this option. Default: true'
                    type: boolean
                  image:
                    description: image name.
                    type: string
                  tag:
                    default: latest
                    description: '(Optional) image tag. Default: latest.'
                    type: string
                type: object
              registry:
                description: (Optional) Global docker registry.
                type: string
              tag:
                default: latest
                description: '(Optional) Tag for dataplane/controlplane/anouncer/bird
                  images. Default: latest'
                type: string
              type:
                default: release
                description: '(Optional) Type of dataplane(release, l3balancer  or
                  firewall). Default: release'
                type: string
            type: object
          status:
            description: YanetStatus defines the observed state of Yanet.
            properties:
              pods:
                description: Resulting pods.
                items:
                  type: string
                type: array
            required:
            - pods
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
